.TruckDetail {
  margin: 1em;
  padding: 1em;
  background: rgba(255,255,255, 0.8);

  @media screen and (min-width: 1200px) {
    max-width: 75em;
    margin: auto;
  }

  dt {
    margin: 3px;
  }

  dd {
    margin-left: 10px;
  }

  span {
    font-weight: bold;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h2 {
      margin: 0;
    }

    h3 {
      margin: 0;
      font-size: 1em;
    }

    .use {
      display: inline-block;
      max-height: 30px;
      margin: 1em;
      padding: 0.4em;
      border-radius: 0.4em;
      color: #FFFFFF;
      font-size: 1.4rem;
      vertical-align: top;
    }

    .free {
      background-color: #679D69;
    }

    .ride {
      background-color: #679b9d;
    }
  }

  .truckLinks {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
      flex-direction: row;
    }

    a {
      display: block;
      width: 100%;
      margin: 0.6rem 0;
      padding: 1em;
      border: 3px solid #679D69;
      border-radius: 0.2em;
      color: black;

      font-size: 1.4em;
      text-decoration: none;
      text-align: center;
      &:hover {
        background: white;
      }

      @media screen and (min-width: 900px) {
        margin: 1rem 0.6rem;
      }
    }
  }


}
