/* Large devices (desktops, 0px and up) */
@media (min-width: 0px) {

<<<<<<< HEAD
    h1 {
        font-family: 'Encode Sans Condensed', sans-serif;

    }

    .trucksList {
        text-align: center;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0;
            margin: 1%;
            width: 90%;
            display: inline-block;

            a {
                display: block;
                background: rgba(255, 255, 255, .9);
                padding: 10px;
                border-radius: 4px;
                text-decoration: none;
                color: #3D3736;
                font-size: 1.3rem;
                font-family: 'Encode Sans Condensed', sans-serif;
                font-weight: 400;
                transition: all ease-in .3s;
                margin-bottom: 10px;

                &:hover {
                    background-color: #fff;
                    text-decoration: none;
                    color: inherit;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .trucksList {
        li {
            width: 20%;

            a {}
        }
    }
}
=======
  .trucksList {
    text-align: center;
    margin: 5% auto;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 0;
      background: rgba(255,255,255, 0.6);
      width: 70%;
      margin: auto;
      border-radius: 4px;
      font-size: 1.5em;
      a {
        color: black;
        border-radius: 4px;
        display: block;
        border: 1px solid #397c15;
        padding: 2vh;
        margin-bottom: 2vh;
        text-decoration: none;
      }
      &:hover {
        background-color: rgba(255,255,255, 0.9);
      }
    }  
  }

/* .menuLink {
    text-decoration: none;
    color: black;
} */
>>>>>>> 54030f43d1382d790e219357a7c232b38a3fd95c
