
  .trucksList {
    text-align: center;
    margin: 2% auto;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 0;
      background: #F8F8F8;
      width: 90%;
      margin: auto;
      a {
        color: black;
        border-radius: 4px;
        display: block;
        border: 1px solid #397c15;
        padding: 2vh;
        margin-bottom: 2vh;
        text-decoration: none;
      }
      &:hover {
        background-color: #DCDCDC;
      }
    }  
  }

/* .menuLink {
    text-decoration: none;
    color: black;
} */