.footer {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;  
  border-top: 1px solid #3D3736;
 
  button {
    border: none;
  }

  @media (max-width: 800px) {
    font-size: 2.2rem;
    .navlink {
      padding: 5px;
    }
  }

  @media (min-width: 801px) {
    font-size: 3rem;
    .navlink:hover {
      border-radius: 5px;
      background-color: yellow;
    }
    .navlink {
      padding: 8px;
      margin: 4px;
    }
  }
}
