section.Login {
    background-color: rgba(0, 0, 0, .8);
}


.Login {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Logo {
        margin-bottom: 50px;

        h1 {
            font-size: 1.5rem;
            font-family: 'Encode Sans Condensed', sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 1px;
            color: white;
            max-width: 170px;
            display: inline-block;
            margin: 0;
        }

        span {
            font-weight: 400;
            font-size: 1rem;
        }

        img {
            vertical-align: baseline;
            margin-right: 10px;
            filter: brightness(0) invert(1);
            width: 80px;
        }
    }
    
    form {
        width:90%;
        max-width: 400px;
    }

    .error {
        background: #cb3737;
        color: white;
        font-size: .8em;
        padding: 10px 15px;
        ;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    input {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 3em 0;
        padding: 0.4em;
        font-size: .8em;
        border: none;
        background: transparent;
        border-bottom: solid 1px #8d8d8d;
        color: white;
        letter-spacing: 1px;
        transition: all ease-in .3s;

        &::placeholder {
            color: white;
            opacity: .5;
            font-size: .8em;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &:focus {
            border-bottom: solid 1px #ffffff;
            outline: none;
        }
    }

    button {
        display: block;
        margin: 50px auto 0 auto;
        padding: 8px 20px;
        border: none;
        background-color: #679D69;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: 400;
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 2px;
        transition: all ease .3s;
        
        &:hover {
            background: #4e7b50;
        }
    }

    button.loading {
        background-color: #99BE7F;
        cursor: wait;

        &::after {
            content: '';
            animation: loading 2s linear 1s infinite;
        }


    }


    @keyframes loading {
        0% {
            content: '';
        }

        33% {
            content: '.'
        }

        66% {
            content: '..';
        }

        100% {
            content: '...';
        }
    }
}
