.form {
  width: 90%;
  background: rgba(255,255,255,.8);
  margin: auto;
  margin-top: 50px;
  padding: 15px;
  border-radius: 5px;
  max-width: 800px;
  font-size: 1.7rem;

  .largeInputs p input {
      border-radius: 4px;
      width: 100%;
      border: 1px solid #ccc;
      padding: 10px;
      font-family: 'Helvetica', arial, sans-serif;
      font-size: 20px;
        label {
            display: block;
        }
  }

  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  } 

  /* IMAGE STYLES */
  [type=radio] + i {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  .ok [type=radio]:checked + i {
    background: #679d69a3;
    border-radius: 100% 100%;
  }

  .notOk [type=radio]:checked + i {
    background: #c85e37a8;
    border-radius: 100% 100%;
  }

  .radioButtonContainer {
    font-size: 1.4em;
  }

  .radioLabel {
      margin-right: 30px;
  }

  .comments {
    font-size: 15px;
    width: 102%;
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px 2px 2px -2px;
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 28px;
  }
  /* .innerFlex {
    display: flex-end;
    wrap: wrap;
  } */

  .green {
    background: green;
    padding: 20px;
    width: 100%;
    margin-right: 100px;
    color: red;
    display: block;
  }

  .radioButton {
      display: inline;
  }

  .radioButtonCategoryLabel {
      width: 50%;
      padding-top: 7px;
  }

  .commentLabel {
    font-size: .7em;
    font-weight: normal;
    display: inline;
  }

  .refs {
      display: flex;
      wrap: no-wrap;
  }

  .hide {
    position: absolute;
    visibility: hidden;
  }

  .show {
    visibility: show;
  }

  textarea {
      width: 90%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }




  textarea:focus,
  input:focus,
  input[type]:focus,
  .uneditable-input:focus {
      border-color: #99BE7F;
      box-shadow: 0 1px 1px #99BE7F inset, 0 0 8px #99BE7F;
      outline: 0 none;
  }

  .checkbox {
      margin-left: 40px;
  }

  .radio {
      margin-left: 40px;
  }

  button {
      position: relative;
      display: block;
      background-color: #679D69;
      padding: 19px 39px 18px 39px;
      margin: 0 auto;
      font-size: 2.2rem;
      text-align: center;
      width: 100%;
      border-radius: 3px;
      border: none;
      margin-bottom: 10px;
      color: white;
      transition: all ease-in .3s;

      &:hover {
          background-color: #5d8d5f;
      }
  }
}
